* {
    box-sizing: border-box;
}

html {
    font-family: 'Poppins';
}

body {
    background-color: #00163b;
}

.main-container {
    position: relative;
    background-color: #fff;
    width: 25%;
    margin: 10% auto;
    border-radius: 15px;
}

.main-container h1 {
    padding: 2rem 2rem 0;
}

.search-bar {
    position: relative;
    background-color: #fff;
    width: 80%;
    margin: auto;
    padding-bottom: 2rem;
    border-radius: 15px;
}


.search-bar input {
    display: block;
    width: 100%;
    padding: 1rem 2rem 1rem 1rem;
    border: none;
}

.search-bar button {
    display: inline-block;
    position: absolute;
    padding: 1rem;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    font-size: large;
    cursor: pointer;
}

.cover-image {
    width: 60%;
}

.weather-details-container {
    display: none;
    padding: 2rem 0;
}

.weather-details-container.active {
    display: block;
}

.weather-details-container h2 {
    line-height: 0.5;
    text-align: center;
    font-size: 3rem;
}

.temperature-container {
    text-align: center;
    width: 100%;
}

.temperature {
    margin: 0 auto;
    width: 100%;
}

.weather-image {
    padding-top: 5rem;
    width: 40%;
}

.weather-details {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 0;
}

.error-container {
    text-align: center;

}

.error-image {
    padding: 2rem;
    width: 100%;
}